/*this is where I have defined the sizes of the crystal images*/
.crystalimage {
    width: 200px;
    height: 200px;
}

.jumbotron {
    background-image:url("../images/pyrite-345637-2-2.jpg");
    background-size:cover;
}

.display-4 {
    color: tan;
}

.lead {
    color: white;
} 